services:
  db:
    image: mongo:latest 
    volumes:
      - "/var/space-game/db:/data/db"
    ports:
      - "27017:27017"
  api:
    build: .
  web-frontend:
    image: nginx
    volumes:
      - "./web-frontend:/usr/share/nginx/html"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
    ports:
      - "${FRONTEND_PORT}:80"