* {
    color: rgb(0, 183, 255);
    font-family: "Oxygen", monospace;
}

@font-face {
    font-family: "Jersey";
    src: url(/Jersey25-Regular.ttf);
}

@font-face {
    font-family: "Oxygen";
    src: url(/OxygenMono-Regular.ttf);
}

html {
    height: 100%;
}

body {
    display: flex; 
    flex-flow: column nowrap;
    margin: 0;
    height: 100%;
    background-color: rgb(40, 40, 40);
}

p {
    margin: 0;
}


.error-div {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    pointer-events: none;
}

.error-popup {
    opacity: 0;
    z-index: 2;
    margin: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgba(211, 12, 12, 0.733);
    flex-flow: row nowrap;
    border-radius: 6px;
    transition: opacity 0.3s;
}

.error-popup p {
    color: rgb(255, 255, 255);
}

.error-popup button {
    background-color: rgb(173, 173, 173);
    margin-left: 12px;
    font-size: 14px;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    pointer-events: all;
}