name: SpaceGame-Auto-Updater

on:
    push:

jobs:
    update:
        runs-on: self-hosted
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: run-updater
              run: ./server-update.sh